# --- General ---
*.swp
*.swo
*.bak
*.tmp
*~

.DS_Store
Thumbs.db

# --- Editor/IDE folders ---
.vscode/
.idea/
*.code-workspace

# --- Nix-specific ---
fire-flakes/result
fire-flakes/result-*
fire-flakes/nix-shell-result
fire-flakes/nix
fire-flakes/*.drv
fire-flakes/*.out
fire-flakes/*.gcno
fire-flakes/*.gcda

# --- System files ---
.nfs*

# --- fire-flakes-specific ---
fire-flakes/vars/*
!fire-flakes/vars/template.nix
!fire-flakes/vars/.gitignore

# --- Env-specific ---
fire-flakes/.env
fire-flakes/.envrc
fire-flakes/.direnv/
fire-flakes/.cache/
